.movieCard_movieCard__7roCy {
    display: flex;
    color: #fff;
    flex-direction: column;
    height: 100%;
    border-radius: .8rem;
    position: relative
}

.movieCard_movieCard__7roCy:hover .movieCard_movieCardPoster__AKDkG {
    filter: brightness(.4);
    scale: 1.1
}

.movieCard_movieCard__7roCy:hover .movieCard_movieCardPlay__sYv8M {
    opacity: 1;
    visibility: visible
}

.movieCard_movieCard__7roCy:hover .movieCard_movieCardTitle__Z4zoW {
    color: var(--primary)
}

.movieCard_movieCardImage__yCQ__ {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    background-color: var(--dark35);
    width: 100%;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    aspect-ratio: 2/3;
    transition: all .2s linear;
    height: 100%;
    position: relative
}

.movieCard_movieCardBlur__M3wbF {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,rgba(0,0,0,.75),transparent)
}

.movieCard_movieCardPoster__AKDkG {
    width: 100%;
    height: 100%;
    transition: all .2s linear;
    aspect-ratio: 2/3;
    -o-object-fit: cover;
    object-fit: cover
}

.movieCard_movieCardPlay__sYv8M {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .25s linear
}

.movieCard_movieCardTitle__Z4zoW {
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin-top: 8px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all .2s linear
}

@media screen and (max-width: 767.98px) {
    .movieCard_movieCardTitle__Z4zoW {
        font-size:1rem
    }
}

.homeSlider_homeBannerSlider__T7um9 {
    width: 185px
}

@media screen and (max-width: 767.98px) {
    .homeSlider_homeBannerSlider__T7um9 {
        width:150px
    }
}
